aerich
aiosqlite
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
black
bs4
certifi
cffi
click
dictdiffer
dnspython
email_validator
fastapi
fastapi-cli
feedparser
h11
httpcore
httptools
httpx
idna
iso8601
isort
Jinja2
loguru
markdown-it-py
MarkupSafe
mdurl
mypy-extensions
orjson
openpyxl
packaging
passlib
pandas
pathspec
platformdirs
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pypika-tortoise
python-dotenv
python-multipart
pytz
PyYAML
rich
ruff
requests
setuptools
shellingham
selenium
sniffio
starlette
tomlkit
tortoise-orm
typer
typing_extensions
tzdata
ujson
uvicorn
# uvloop   linux专用,windows没有
winuvloop
watchfiles
websockets
